<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <!--
 Required only if your app needs to access images or photos
     that other apps created.
    -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <!--
 Required only if your app needs to access videos
         that other apps created.
    -->
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <!--
 Required only if your app needs to access audio files
         that other apps created.
    -->
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name="SongsMain.Tutorial.Application"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/comehere"
        android:label="@string/app_name"
        android:roundIcon="@drawable/comehere"
        android:supportsRtl="true"
        android:theme="@style/Theme.BotofanThemeNoActionBar">


        <activity
            android:name="SongsMain.Tabs.FullScreenSong"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <!--
 <activity
            android:name="StorageTest.StorageMainActivity"
            android:exported="false" />
        <activity
            android:name=".AlarmActivity"
            android:exported="false" />
        <activity
            android:name=".addAlarmActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        -->
        <activity
            android:name="SongsMain.search"
            android:exported="false" />

        <receiver
            android:name="Signals_Receivers.wakeupReceiver"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="Signals_Receivers.AlarmReceiver" />

        <activity
            android:name="SongsMain.SongMain_Activity"
            android:exported="true"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="SongsMain.Service.MusicPlayerService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback" />
    </application>

</manifest>